*{
    margin: 0;
    padding: 0;
}

.home{
    height: 100vh;
    background-image: url(/media/image/city.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact{
    height: 80vh;
}